@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

body,
html {
    min-width: 100%;
    min-height: 100vh;
}

body {
    background: url(/delivery-status/img/ZigZag-bg.png);
    background-size: cover;
}

h2,
h5 {
    color: #2F463D;
}

h2,
h5,
h6,
a,
button {

    font-family: "Montserrat", sans-serif;
}

.card {
    background-color: #ffffff;
    box-shadow: 0px 40px 40px -20px #3C7B61;
    border-radius: 5px;
    width: 350px;
    height: 650px;
    margin: 10vh auto;
    min-width: 300px;
    position: relative;
}

.card-close-icon {
    position: absolute;
    top: 15px;
    right: 15px;
}

.order-status {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 55px 45px;
}

.order-status>h2 {
    font-size: 22px;
    font-weight: 600;
    margin: 20px 0 15px;
    height: 60px;
}

.order-status>img {
    width: 50%;
}

.order-status>p {
    font-family: "Ubuntu", sans-serif;
    ;
    font-size: 14px;
    color: #828282;
    line-height: 26px;
}

.order-card {
    display: flex;
    align-items: center;
    background-color: #F0FFF5;
    border-radius: 5px;
    margin: 40px 0 25px;
}

#order-description {
    width: 50%;
    text-align: left;
    margin-left: 15px;
}

#order-description>h5 {
    font-weight: 900;
    margin-bottom: 4px;
    font-size: 14px;
}

#order-description>h6 {
    color: #7A8F85;
    font-weight: 400;
    font-size: 12px;
}

.order-card a {
    color: #467A66;
    font-weight: 700;
    font-size: 13px;
}

.order-button {
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 700;
    letter-spacing: .7px;
    font-size: 15px;
    font-style: normal;
    transition: .3s ease all;
}

.confirmation {
    background: #46A67E;
    box-shadow: 0px 20px 20px rgba(103, 189, 153, 0.2);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 0;

}

.inactive-btn {
    background: gray;
    background: #BDBDBD;
    box-shadow: 0px 20px 20px rgba(167, 167, 167, 0.2);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    bottom: 22%;

}


#order-button:hover {
    opacity: .8;
    transition: .3s ease all;
    cursor: pointer;
}

.page-dots {
    display: flex;
    width: 15%;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translateX(-50%);
}

.dot {
    width: 8px;
    height: 8px;
    background-color: #E0E0E0;
    border-radius: 100%;
}

.dot.green {
    background-color: #67BD99;
}

.left,
.right {
    display: none;
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1074px) {

    .left,
    .right {
        display: block;
    }

    .card-desktop {
        display: flex;
    }
}