@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 100%;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(7.28deg, #EEF5FF 0%, #FFFFFF 99.69%);
}

.constrain {
    max-width: 425px;
    margin: auto;
}

h1,
h2,
h3,
h5,
h6 {
    color: #111235;
}

img {
    width: 100%;
}

p {
    line-height: 24px;
}

ul li {
    list-style-type: none;
    margin: 50px auto;

}

.header {
    height: 75px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header>h2 {
    color: #111235;
    font-weight: 400;
    font-size: 36px;

}

.bold-span {
    font-weight: 700;
}

.content-container {
    padding: 25px 15px;
}

.content-container>h1,
h2 {
    font-weight: 300;
    margin: 15px 0;
}

.content-container>h1 {

    font-size: 64px;
    line-height: 75px;

}

.content-container>h2 {
    font-size: 48px;
    line-height: 58px;
}

.content-container>h6 {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    margin: 0 auto 40px;
}

.content-container>p {
    font-weight: 300;
    font-size: 16px;
    margin-top: 20px;
}



.blue-bg {
    background-color: #F2F8FF;
    width: 100%;
}

.gradient-bg {
    background: linear-gradient(99.85deg, #BAD5FF 0%, #6487BF 100%);
}

.gradient-bg img {
    vertical-align: bottom;
}

.text-center {
    text-align: center;
}

.btn {
    border-radius: 35px;
    border-style: none;
    display: block;
    font-weight: 400;
    font-size: 16px;
    margin: 30px auto 10px;
    width: 230px;
    padding: 14px 0;
    text-decoration: none;
    text-align: center;
}

.btn-primary {
    background: #4B5092;
    color: white;
}

.btn-secondary {
    background: #FFFFFF;
    color: #436BAA;
}

.benefit-container {
    background: #E4F0FF;
    border-radius: 30px;
    padding: 55px 30px;
    margin: 20px 0;
}

.benefit-container>h3 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    width: 75%;
}

.benefit-container>p {
    margin-top: 25px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    width: 75%;
}

.benefit-container.lilac {
    background: #E4F0FF;
}

.benefit-container.purple {
    background: rgba(114, 122, 239, 0.1);
}

.social-media {
    margin: 25px auto;
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.icon-circle {
    background: rgba(128, 173, 245, .2);
    height: 32px;
    width: 32px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-circle>img {
    width: 55%;
}

input::placeholder {
    color: #111235;
}

#copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-top: 50px;
}

input[type="text"] {
    width: 55%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: 400;
    background: url(img/footer/icon-send.png) white 95% 50% no-repeat;

}

.pb-90 {
    padding-bottom: 90px;
}

#mb-15 {
    margin-bottom: 15px;
}

.border-bottom {
    border-bottom: 1px solid black;
}