@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 100%;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(7.28deg, #EEF5FF 0%, #FFFFFF 99.69%);
}

.constrain {
    max-width: 425px;
    margin: auto;
}

h1,
h2,
h3,
h5,
h6 {
    color: #111235;
}

img {
    width: 100%;
}

p {
    line-height: 24px;
}

ul {
    padding-left: 0;
    padding: 30px 0;
}

ul li {
    list-style-type: none;
    padding: 20px 0;
}

.nav-bar {
    height: 75px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar>h2 {
    color: #111235;
    font-weight: 400;
    font-size: 36px;

}

.bold-span {
    font-weight: 700;
}

.content-container {
    padding: 25px 15px;
}

.content-container h1,
h2 {
    font-weight: 300;
    margin: 15px 0;
}

.content-container h1 {

    font-size: 64px;
    line-height: 75px;

}

.content-container h2 {
    font-size: 48px;
    line-height: 58px;
}

.content-container>h6 {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    margin: 0 auto 40px;
}

.content-container p {
    font-weight: 300;
    font-size: 16px;
    margin-top: 20px;
}

.blue-bg {
    background-color: #F2F8FF;
    width: 100%;
}

.gradient-bg {
    background: linear-gradient(99.85deg, #BAD5FF 0%, #6487BF 100%);
}

.gradient-bg img {
    vertical-align: bottom;
}

.text-center {
    text-align: center;
}

.btn {
    border-radius: 35px;
    border-style: none;
    display: block;
    font-weight: 400;
    font-size: 16px;
    margin: 30px auto 10px;
    width: 230px;
    padding: 14px 0;
    text-decoration: none;
    text-align: center;
}

.btn-primary {
    background: #4B5092;
    color: white;
}

.btn-secondary {
    background: #FFFFFF;
    color: #436BAA;
}

.benefit-container {
    background: #E4F0FF;
    border-radius: 30px;
    padding: 55px 30px;
    margin: 20px 0;
}

.benefit-container>h3 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    width: 75%;
}

.benefit-container>p {
    margin-top: 25px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    width: 75%;
}

.benefit-container.lilac {
    background: #E4F0FF;
}

.benefit-container.purple {
    background: rgba(114, 122, 239, 0.1);
}

.social-media {
    margin: 25px auto;
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.icon-circle {
    background: rgba(128, 173, 245, .2);
    height: 32px;
    width: 32px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-circle>img {
    width: 55%;
}

input::placeholder {
    color: #111235;
}

#copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin: 20px 0 60px;
    text-align: center;
}

input[type="text"] {
    width: 55%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: 400;
    background: url(img/footer/icon-send.png) white 95% 50% no-repeat;

}

.pb-90 {
    padding-bottom: 90px;
}

#mb-15 {
    margin-bottom: 15px;
}

.border-bottom {
    border-bottom: 1px solid black;
}

.top-menu {
    display: none;
}

.desktop-only {
    display: none;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .constrain {
        max-width: 1500px;
    }

    .outer-container {
        margin: 0 10%;
    }

    .nav-bar {
        box-shadow: none;
        display: flex;
        justify-content: space-between;
    }

    .top-menu {
        display: flex;
        width: 30%;
        justify-content: space-between;
        align-items: center;
    }

    .hero-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        padding-left: 0;
    }

    .hero-text {
        width: 50%;
        text-align: left;
    }

    .hero-section img {
        width: 45%;
    }

    .btn {
        margin: 35px 0;
    }

    .left-to-right {
        display: flex;
        align-items: center;

    }

    .workout-img-2 {
        width: 45%
    }

    .blue-bg {
        width: 45%;
        display: flex;
        align-items: center;
        padding: 0 30px;
        border-radius: 50px;
    }

    .gradient-bg {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .trainer-text {
        width: 30%;
        text-align: left;
        margin-left: 40px;
    }

    .gradient-bg img {
        margin: 0;
        width: 450px;
    }

    .simple-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .simple-flex>* {
        margin: 0;
    }

    .panels-img-container {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        margin-top: 50px;
    }

    .panels-img-container img {
        width: 30%;
    }

    .benefit-containers {
        display: flex;
        width: 70%;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .benefit-container {
        width: 49%;
        box-sizing: border-box;
    }

    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: block;
    }

    footer.content-container {
        display: flex;
        padding: 40px 0 0;
    }

    .social-media {
        display: none;
    }

    footer h2 {
        width: 30%;
        text-align: left;
    }

    footer ul {
        width: 40%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 200px;
        padding: 0;
        padding-right: 10%;
    }

    footer li {
        padding-top: 15px;
    }

    footer .stay-up-to-date {
        padding-top: 10px;
        width: 30%;
        text-align: left;
    }

    footer .stay-up-to-date input[type="text"] {
        width: 100%;
        box-sizing: border-box;
    }

    #copyright {
        text-align: left;
        margin-top: 0;
        padding-top: 0;
    }
}